<div class="booking_container">


  <table>
    <tr>
      <th>予約した部屋</th>
      <td></td>
    </tr>
    <tr>
      <th>開始日</th>
      <td><%= @room_booking.start_date %></td>
    </tr>
    <tr>
      <th>終了日</th>
      <td><%= @room_booking.end_date %></td>
    </tr>
    <tr>
      <th>価格</th>
      <td><%= @room_booking.room_price %></td>
    </tr>
  </table>

</div>
