// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  width: 100%;
  background-color: rgb(247, 245, 245);
}

header {
  background-color: black;
  height: 80px;
  padding-bottom: 5px;
}

footer {
  background-color: black;
  height: 100px;
}

.flash {
  text-align: center;
  width: 100%;
  position: absolute;
  color: palevioletred;
  background-color: lightblue;
  height: 25px;
}

.notice, .alert {
  margin: 0px;
}

.header_right {
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;
}

.header_right p {
  margin: 0px;
}

.signed_in_message {
  flex: 1;
}

.button {
  flex: 1;
}

header p, header h4 {
  color: white;
}

.registration_container, .booking_container {
  margin: auto;
  padding-left: 45px;
  width: 80%;
  background-color: white;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.submit {
  width: 100px;
}

.registration, .booking {
  border-bottom: 1px solid rgb(231, 229, 229);
  padding: 30px;
}

.submit {
  padding-bottom: 30px;
}

.registration_container h3, .booking_container h3{
  padding: 15px;
  border-bottom: 1px solid rgb(231, 229, 229);
}

.input_field {
  display: block;
  width: 100%;
  height: 30px;
}

.wide_field {
  width: 100%;
  height: 100px;
}
